<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="author" content="Jesus Gutierrez">
	<meta name="description" content="Pagina web referente a un juego didactico para niños">
	<meta name="keywords" content="Servicio comunitario, Juego didactico, LUZ">
	<title>Juego Didactico</title>
	<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../css/styles.css">
</head>
<body id="body_aprende_figuras">
	<div class="text-left">
		<a href="index_pg.html" class="btn btn-danger btn-lg btn_atras">
			<span class="glyphicon glyphicon-circle-arrow-left"></span>
		</a>
	</div>
	<div class="container">
		<br><br><br>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-3">
				<img src="../../img/cuadrado.jpg" id="0" class="img-circle img-responsive figuras reproduce_figura">
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3">
				<img src="../../img/circulo.jpg" id="1" class="img-circle img-responsive figuras reproduce_figura">
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3">
				<img src="../../img/triangulo.jpg" id="2" class="img-circle img-responsive figuras reproduce_figura">
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3">
				<img src="../../img/piramide.jpg" id="3" class="img-circle img-responsive figuras reproduce_figura">
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-3">
				<img src="../../img/rectangulo.jpg" id="4" class="img-circle img-responsive figuras reproduce_figura">
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3">
				<img src="../../img/rombo.jpg" id="5" class="img-circle img-responsive figuras reproduce_figura">
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3">
				<img src="../../img/ovalo.jpg" id="6" class="img-circle img-responsive figuras reproduce_figura">
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3">
				<img src="../../img/estrella.jpg" id="7" class="img-circle img-responsive figuras reproduce_figura">
			</div>
		</div>
	</div>
	<script src="../../js/jquery-2.1.3.min.js"></script>
	<script src="../../js/sound.js"></script>
	<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
</body>
</html>