<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="author" content="Jesus Gutierrez">
	<meta name="description" content="Pagina web referente a un juego didactico para niños">
	<meta name="keywords" content="Servicio comunitario, Juego didactico, LUZ">
	<title>Juego Didactico</title>
	<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../css/styles.css">
</head>
<body id="body_aprende_numeros">
	<br><br><br>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-3">
				 <a href="#myModal_cero" role="button" data-toggle="modal">
					<img src="../../img/numero_cero/numero_cero.jpg" id="0" class="img-rounded img-responsive numeros reproduce_numero">
				</a>
				<div id="myModal_cero" class="modal fade">
			        <div class="modal-dialog">
			            <div class="modal-content">
			                <div class="modal-header">
			                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			                    <h3 class="modal-title text-center"><span class="badge">0</span>  Número Cero <span class="badge">0</span> </h3>
			                </div>

			                <div class="modal-body">
			                	<div class="row">
			                		<div class="col-sm-12">
			                        	<img src="../../img/numero_cero/n1.jpeg" width="200" height="150">                
				  	                    <img src="../../img/numero_cero/n2.png" class="pull-right img-circle" width="200" height="150">
			                        </div>
				                </div>
				                <hr>
				                <div class="row">
				                	<div class="col-sm-12">
			                        	<img src="../../img/numero_cero/n3.jpeg" width="200" height="150">
			                           	<img src="../../img/numero_cero/n4.png" class="pull-right" width="200" height="150">
			                        </div>
				                </div>
			                </div>
			                <div class="modal-footer">
			                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
			                </div>
			            </div>
			        </div>
	    		</div>
			</div>
			<!-- ////////////////////////////////////////////////////////// -->
			<div class="col-xs-12 col-sm-6 col-md-3">
				 <a href="#myModal_uno" role="button" data-toggle="modal">
					<img src="../../img/numero_uno/numero_uno.jpg" id="1" class="img-rounded img-responsive numeros reproduce_numero">
				</a>
				<div id="myModal_uno" class="modal fade">
			        <div class="modal-dialog">
			            <div class="modal-content">
			                <div class="modal-header">
			                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			                    <h3 class="modal-title text-center"><span class="badge">1</span>  Número Uno <span class="badge">1</span> </h3>
			                </div>

			                <div class="modal-body">
			                	<div class="row">
			                		<div class="col-sm-12">
			                        	<img src="../../img/numero_uno/n1.jpeg" width="150" height="150">                
				  	                    <img src="../../img/numero_uno/n2.jpeg" class="pull-right img-circle" width="150" height="150">
			                        </div>
				                </div>
				                <hr>
				                <div class="row">
				                	<div class="col-sm-12">
			                        	<img src="../../img/numero_uno/n3.jpeg" width="150" height="150">
			                           	<img src="../../img/numero_uno/n4.png" class="pull-right" width="150" height="150">
			                        </div>
				                </div>
			                </div>
			                <div class="modal-footer">
			                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
			                </div>
			            </div>
			        </div>
	    		</div>
			</div>
			<!-- ////////////////////////////////////////////////////////// -->
			<div class="col-xs-12 col-sm-6 col-md-3">
				 <a href="#myModal_dos" role="button" data-toggle="modal">
					<img src="../../img/numero_dos/numero_dos.jpg" id="2" class="img-rounded img-responsive numeros reproduce_numero">
				</a>
				<div id="myModal_dos" class="modal fade">
			        <div class="modal-dialog">
			            <div class="modal-content">
			                <div class="modal-header">
			                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			                    <h3 class="modal-title text-center"><span class="badge">2</span>  Número Dos <span class="badge">2</span> </h3>
			                </div>

			                <div class="modal-body">
			                	<div class="row">
			                		<div class="col-sm-12">
			                        	<img src="../../img/numero_dos/n1.jpeg" width="150" height="150">                
				  	                    <img src="../../img/numero_dos/n2.jpeg" class="pull-right img-circle" width="150" height="150">
			                        </div>
				                </div>
				                <hr>
				                <div class="row">
				                	<div class="col-sm-12">
			                        	<img src="../../img/numero_dos/n3.jpeg" width="150" height="150">
			                           	<img src="../../img/numero_dos/n4.png" class="pull-right" width="150" height="150">
			                        </div>
				                </div>
			                </div>
			                <div class="modal-footer">
			                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
			                </div>
			            </div>
			        </div>
	    		</div>
			</div>
			<!-- ////////////////////////////////////////////////////////// -->
			<div class="col-xs-12 col-sm-6 col-md-3">
				 <a href="#myModal_tres" role="button" data-toggle="modal">
					<img src="../../img/numero_tres/numero_tres.jpg" id="3" class="img-rounded img-responsive numeros reproduce_numero">
				</a>
				<div id="myModal_tres" class="modal fade">
			        <div class="modal-dialog">
			            <div class="modal-content">
			                <div class="modal-header">
			                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			                    <h3 class="modal-title text-center"><span class="badge">3</span>  Número Tres <span class="badge">3</span> </h3>
			                </div>

			                <div class="modal-body">
			                	<div class="row">
			                		<div class="col-sm-12">
			                        	<img src="../../img/numero_tres/n1.png" width="150" height="150">                
				  	                    <img src="../../img/numero_tres/n2.png" class="pull-right img-circle" width="150" height="150">
			                        </div>
				                </div>
				                <hr>
				                <div class="row">
				                	<div class="col-sm-12">
			                        	<img src="../../img/numero_tres/n3.jpeg" width="150" height="150">
			                           	<img src="../../img/numero_tres/n4.jpeg" class="pull-right" width="150" height="150">
			                        </div>
				                </div>
			                </div>
			                <div class="modal-footer">
			                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
			                </div>
			            </div>
			        </div>
	    		</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-3">
				 <a href="#myModal_cuatro" role="button" data-toggle="modal">
					<img src="../../img/numero_cuatro/numero_cuatro.jpg" id="4" class="img-rounded img-responsive numeros reproduce_numero">
				</a>
				<div id="myModal_cuatro" class="modal fade">
			        <div class="modal-dialog">
			            <div class="modal-content">
			                <div class="modal-header">
			                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			                    <h3 class="modal-title text-center"><span class="badge">4</span>  Número Cuatro <span class="badge">4</span> </h3>
			                </div>

			                <div class="modal-body">
			                	<div class="row">
			                		<div class="col-sm-12">
			                        	<img src="../../img/numero_cuatro/n1.png" width="150" height="150">                
				  	                    <img src="../../img/numero_cuatro/n2.jpeg" class="pull-right img-circle" width="150" height="150">
			                        </div>
				                </div>
				                <hr>
				                <div class="row">
				                	<div class="col-sm-12">
			                        	<img src="../../img/numero_cuatro/n3.jpeg" width="150" height="150">
			                           	<img src="../../img/numero_cuatro/n4.jpeg" class="pull-right" width="150" height="150">
			                        </div>
				                </div>
			                </div>
			                <div class="modal-footer">
			                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
			                </div>
			            </div>
			        </div>
	    		</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3">
				 <a href="#myModal_cinco" role="button" data-toggle="modal">
					<img src="../../img/numero_cinco/numero_cinco.jpg" id="5" class="img-rounded img-responsive numeros reproduce_numero">
				</a>
				<div id="myModal_cinco" class="modal fade">
			        <div class="modal-dialog">
			            <div class="modal-content">
			                <div class="modal-header">
			                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			                    <h3 class="modal-title text-center"><span class="badge">5</span>  Número Cinco <span class="badge">5</span> </h3>
			                </div>

			                <div class="modal-body">
			                	<div class="row">
			                		<div class="col-sm-12">
			                        	<img src="../../img/numero_cinco/n1.jpeg" width="150" height="150">                
				  	                    <img src="../../img/numero_cinco/n2.png" class="pull-right img-circle" width="150" height="150">
			                        </div>
				                </div>
				                <hr>
				                <div class="row">
				                	<div class="col-sm-12">
			                        	<img src="../../img/numero_cinco/n3.jpeg" width="150" height="150">
			                           	<img src="../../img/numero_cinco/n4.jpeg" class="pull-right" width="150" height="150">
			                        </div>
				                </div>
			                </div>
			                <div class="modal-footer">
			                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
			                </div>
			            </div>
			        </div>
	    		</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3">
				 <a href="#myModal_seis" role="button" data-toggle="modal">
					<img src="../../img/numero_seis/numero_seis.jpg" id="6" class="img-rounded img-responsive numeros reproduce_numero">
				</a>
				<div id="myModal_seis" class="modal fade">
			        <div class="modal-dialog">
			            <div class="modal-content">
			                <div class="modal-header">
			                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			                    <h3 class="modal-title text-center"><span class="badge">6</span>  Número Seis <span class="badge">6</span> </h3>
			                </div>

			                <div class="modal-body">
			                	<div class="row">
			                		<div class="col-sm-12">
			                        	<img src="../../img/numero_seis/n1.png" width="150" height="150">                
				  	                    <img src="../../img/numero_seis/n2.jpeg" class="pull-right img-circle" width="150" height="150">
			                        </div>
				                </div>
				                <hr>
				                <div class="row">
				                	<div class="col-sm-12">
			                        	<img src="../../img/numero_seis/n3.jpeg" width="150" height="150">
			                           	<img src="../../img/numero_seis/n4.jpeg" class="pull-right" width="150" height="150">
			                        </div>
				                </div>
			                </div>
			                <div class="modal-footer">
			                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
			                </div>
			            </div>
			        </div>
	    		</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3">
				 <a href="#myModal_siete" role="button" data-toggle="modal">
					<img src="../../img/numero_siete/numero_siete.jpg" id="7" class="img-rounded img-responsive numeros reproduce_numero">
				</a>
				<div id="myModal_siete" class="modal fade">
			        <div class="modal-dialog">
			            <div class="modal-content">
			                <div class="modal-header">
			                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			                    <h3 class="modal-title text-center"><span class="badge">7</span>  Número Siete <span class="badge">7</span> </h3>
			                </div>

			                <div class="modal-body">
			                	<div class="row">
			                		<div class="col-sm-12">
			                        	<img src="../../img/numero_siete/n1.jpeg" width="150" height="150">                
				  	                    <img src="../../img/numero_siete/n2.jpeg" class="pull-right img-circle" width="150" height="150">
			                        </div>
				                </div>
				                <hr>
				                <div class="row">
				                	<div class="col-sm-12">
			                        	<img src="../../img/numero_siete/n3.jpeg" width="150" height="150">
			                           	<img src="../../img/numero_siete/n4.png" class="pull-right" width="150" height="150">
			                        </div>
				                </div>
			                </div>
			                <div class="modal-footer">
			                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
			                </div>
			            </div>
			        </div>
	    		</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-3">
				 <a href="#myModal_ocho" role="button" data-toggle="modal">
					<img src="../../img/numero_ocho/numero_ocho.jpg" id="8" class="img-rounded img-responsive numeros reproduce_numero">
				</a>
				<div id="myModal_ocho" class="modal fade">
			        <div class="modal-dialog">
			            <div class="modal-content">
			                <div class="modal-header">
			                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			                    <h3 class="modal-title text-center"><span class="badge">8</span>  Número Ocho <span class="badge">8</span> </h3>
			                </div>

			                <div class="modal-body">
			                	<div class="row">
			                		<div class="col-sm-12">
			                        	<img src="../../img/numero_ocho/n1.png" width="150" height="150">                
				  	                    <img src="../../img/numero_ocho/n2.jpeg" class="pull-right img-circle" width="150" height="150">
			                        </div>
				                </div>
				                <hr>
				                <div class="row">
				                	<div class="col-sm-12">
			                        	<img src="../../img/numero_ocho/n3.jpeg" width="150" height="150">
			                           	<img src="../../img/numero_ocho/n4.jpeg" class="pull-right" width="150" height="150">
			                        </div>
				                </div>
			                </div>
			                <div class="modal-footer">
			                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
			                </div>
			            </div>
			        </div>
	    		</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3">
				 <a href="#myModal_nueve" role="button" data-toggle="modal">
					<img src="../../img/numero_nueve/numero_nueve.jpg" id="9" class="img-rounded img-responsive numeros reproduce_numero">
				</a>
				<div id="myModal_nueve" class="modal fade">
			        <div class="modal-dialog">
			            <div class="modal-content">
			                <div class="modal-header">
			                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			                    <h3 class="modal-title text-center"><span class="badge">9</span>  Número Nueve <span class="badge">9</span> </h3>
			                </div>

			                <div class="modal-body">
			                	<div class="row">
			                		<div class="col-sm-12">
			                        	<img src="../../img/numero_nueve/n1.jpeg" width="150" height="150">                
				  	                    <img src="../../img/numero_nueve/n2.jpeg" class="pull-right img-circle" width="150" height="150">
			                        </div>
				                </div>
				                <hr>
				                <div class="row">
				                	<div class="col-sm-12">
			                        	<img src="../../img/numero_nueve/n3.jpeg" width="150" height="150">
			                           	<img src="../../img/numero_nueve/n4.jpeg" class="pull-right" width="150" height="150">
			                        </div>
				                </div>
			                </div>
			                <div class="modal-footer">
			                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
			                </div>
			            </div>
			        </div>
	    		</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3">
				 <a href="#myModal_diez" role="button" data-toggle="modal">
					<img src="../../img/numero_diez/numero_diez.jpg" id="10" class="img-rounded img-responsive numeros reproduce_numero">
				</a>
				<div id="myModal_diez" class="modal fade">
			        <div class="modal-dialog">
			            <div class="modal-content">
			                <div class="modal-header">
			                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			                    <h3 class="modal-title text-center"><span class="badge">10</span>  Número Diez <span class="badge">10</span> </h3>
			                </div>

			                <div class="modal-body">
			                	<div class="row">
			                		<div class="col-sm-12">
			                        	<img src="../../img/numero_diez/n1.jpeg" width="150" height="150">                
				  	                    <img src="../../img/numero_diez/n2.jpeg" class="pull-right img-circle" width="150" height="150">
			                        </div>
				                </div>
				                <hr>
				                <div class="row">
				                	<div class="col-sm-12">
			                        	<img src="../../img/numero_diez/n3.jpeg" width="150" height="150">
			                           	<img src="../../img/numero_diez/n4.jpeg" class="pull-right" width="150" height="150">
			                        </div>
				                </div>
			                </div>
			                <div class="modal-footer">
			                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
			                </div>
			            </div>
			        </div>
	    		</div>
			</div>
		</div>
	</div>

	<script src="../../js/jquery-2.1.3.min.js"></script>
	<script src="../../js/sound.js"></script>
	<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
</body>
</html>