<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="author" content="Jesus Gutierrez">
	<meta name="description" content="Pagina web referente a un juego didactico para niños">
	<meta name="keywords" content="Servicio comunitario, Juego didactico, LUZ">
	<title>Juego Didactico</title>
	<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../css/styles.css">
</head>
<body id="body_index_pg">
	<div class="text-left">
		<a href="../index_seleccion.html" class="btn btn-danger btn-lg btn_atras">
			<span class="glyphicon glyphicon-circle-arrow-left"></span>
		</a>
	</div>
	<div class="container top_seleccion">
		
		<div class="row">
			<div class="text-center">
				<h1>Elige una Opción</h1>
			</div>
		</div>
		<br><br>
		<div class="row">
			<div class="col-xs-12 col-sm-3">
				<a href="aprende_sumar.html">
					<!--<img src="../../img/aprende_numeros.jpeg" class="img-rounded img-responsive my_img" alt="Aprender Numeros">-->
					Aprender a Sumar
				</a>
			</div>
			<div class="col-xs-12 col-sm-3">
				<a href="aprende_restar.html">
					<!--<img src="../../img/aprende_figuras.png" class="img-rounded img-responsive my_img" alt="Aprender Figuras">-->
					Aprende a Restar
				</a>
			</div>
			<div class="col-xs-12 col-sm-3">
				<a href="juega_sumar.html">
					<!--<img src="../../img/aprende_figuras.png" class="img-rounded img-responsive my_img" alt="Aprender Figuras">-->
					Juega a Sumar
				</a>
			</div>
			<div class="col-xs-12 col-sm-3">
				<a href="juega_restar.html">
					<!--<img src="../../img/aprende_figuras.png" class="img-rounded img-responsive my_img" alt="Aprender Figuras">-->
					Juega a Restar
				</a>
			</div>
		</div>
	</div>
</body>
</html>