<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="author" content="Jesus Gutierrez">
	<meta name="description" content="Pagina web referente a un juego didactico para niños">
	<meta name="keywords" content="Servicio comunitario, Juego didactico, LUZ">
	<title>Juego Didactico</title>
	<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../css/styles.css">
	<script type="text/javascript" src="../../js/jquery-2.1.3.min.js"></script>
	<script type="text/javascript" src="../../js/motor_juego.js"></script>

</head>

<body id="body_index">    
	<div class="container">
		<div class="contenedor_juego">
			<br><br><br>
			<div class="row">
				<div class="col-md-5">
					<div id="panel_op1" class="panel_operando">
						
					</div>
					<p class="text-center"><span id="badge_op1" class="badge my_badge">8</span></p>
				</div>
				<div class="text-center col-md-2">
					<img src="../../img/iconos/icono_suma.png" class="img_icon_juego">
				</div>
				<div class="col-md-5">
					<div id="panel_op2" class="panel_operando">
						
					</div>
					<p class="text-center"><span id="badge_op2" class="badge my_badge">8</span></p>
				</div>
			</div>
			<br><br>
			<div class="row">
				<div class="text-center col-md-12">
					<button id="opcion_1" class="btn btn-primary btn_opciones"></button>
					<button id="opcion_2" class="btn btn-primary btn_opciones"></button>
					<button id="opcion_3" class="btn btn-primary btn_opciones"></button>
					<button id="opcion_4" class="btn btn-primary btn_opciones"></button>
					<button id="opcion_5" class="btn btn-primary btn_opciones"></button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>